<!-- =========================
     FLOATING COUNTDOWN BAR
========================= -->

<div class="floating-countdown" id="floatingCountdown">

    <div class="floating-left">

        <small id="floating-label">
            EARLY BIRD ENDS IN
        </small>

        <div class="floating-time">

            <span id="floating-days">00</span>D&nbsp;

            <span id="floating-hours">00</span>H&nbsp;

            <span id="floating-minutes">00</span>M&nbsp;

            <span id="floating-seconds">00</span>S

        </div>

    </div>

    <a href="https://2027iloilodinagyangmarathon.veent.net/"
       target="_blank"
       class="floating-register">

        Register Now

    </a>

</div>