<!-- =========================
     FOOTER
========================= -->

<footer class="footer">

    <div class="footer-container">

        <!-- Brand -->

        <div class="footer-brand">

            <img src="images/logos/idm-logo.png" alt="Heritage Run Logo">

            <p>
                Celebrating heritage, endurance, and community through one of
                Western Visayas' premier marathon events.
            </p>

            <div class="footer-social">

                <a href="https://www.facebook.com/profile.php?id=100095346411949" target="_blank">
                    <i class="fa-brands fa-facebook-f"></i>
                </a>

                <a href="mailto:iloilodinagyangmarathon@gmail.com">
                    <i class="fa-regular fa-envelope"></i>
                </a>

            </div>

        </div>

        <!-- Event -->

        <div class="footer-links">

            <h4>Event</h4>

            <a href="event.html">Heritage Run 4</a>
            <a href="event.html#faq">FAQ</a>

        </div>

        <!-- Quick Links -->

        <div class="footer-links">

            <h4>Results</h4>

            <a href="https://racetechph.com/uploadedresult/idm-2024" target="_blank">
                2024 Results
            </a>

            <a href="https://racetechph.com/uploadedresult/iloilo-dinagyang-marathon-2025" target="_blank">
                2025 Results
            </a>

            <a href="https://myruntime.com/results/dinagyang-marathon-2026/#/" target="_blank">
                2026 Results
            </a>

        </div>

        <!-- Contact -->

        <div class="footer-links">

            <h4>Contact</h4>

            <a href="mailto:iloilodinagyangmarathon@gmail.com">
                Email Us
            </a>

            <a href="https://www.facebook.com/profile.php?id=100095346411949" target="_blank" rel="noopener noreferrer">
                Facebook Page
            </a>

            <a href="privacy-policy.html">
                Privacy Policy
            </a>

        </div>

    </div>

    <div class="footer-bottom">

        <p>
            Heritage Run 4 • January 17, 2027 • Iloilo City, Philippines
        </p>

        <p>
            © 2026 Iloilo Dinagyang Marathon.
            Organized by Velocity 5000.
            All Rights Reserved.
        </p>

    </div>

</footer>