<!-- =========================
         HEADER
    ========================== -->

<header class="header">

    <nav class="navbar">

        <!-- Logo -->
        <a href="index.html" class="logo">
            <img src="images/logos/idm-logo.png" alt="Iloilo Dinagyang Marathon">
        </a>

        <!-- Navigation -->
        <ul class="nav-links">

            <li>
                <a href="index.html">Home</a>
            </li>

            <li class="dropdown">

                <a href="#">
                    Event
                    <i class="fa-solid fa-chevron-down"></i>
                </a>

                <ul class="dropdown-menu">

                    <li><a href="event.html">Heritage Run 4</a></li>
                    <li><a href="event.html#faq">FAQ</a></li>

                </ul>

            </li>

            <li class="dropdown">

                <a href="#">
                    Registration
                    <i class="fa-solid fa-chevron-down"></i>
                </a>

                <ul class="dropdown-menu">

                    <li>
                        <a href="https://2027iloilodinagyangmarathon.veent.net/" target="_blank" rel="noopener">
                            Register
                        </a>
                    </li>

                    <li>
                        <a href="verify-registration.html">
                            Verify Registration
                        </a>
                    </li>

                </ul>

            </li>


            <li class="dropdown">

                <a href="#">
                    Results
                    <i class="fa-solid fa-chevron-down"></i>
                </a>

                <ul class="dropdown-menu">

                    <li>
                        <a href="https://racetechph.com/uploadedresult/idm-2024" target="_blank" rel="noopener">
                            2024 Results
                        </a>
                    </li>

                    <li>
                        <a href="https://racetechph.com/uploadedresult/iloilo-dinagyang-marathon-2025" target="_blank"
                            rel="noopener">
                            2025 Results
                        </a>
                    </li>

                    <li>
                        <a href="https://myruntime.com/results/dinagyang-marathon-2026/#/" target="_blank"
                            rel="noopener">
                            2026 Results
                        </a>
                    </li>

                </ul>

            </li>

            <li class="dropdown">

                <a href="#">
                    About
                    <i class="fa-solid fa-chevron-down"></i>
                </a>

                <ul class="dropdown-menu">

                    <li><a href="heritage-run.html">Heritage Run</a></li>
                    <li><a href="velocity5000.html">Velocity 5000</a></li>

                </ul>

            </li>

            <li class="dropdown">

                <a href="#">
                    Get Involved
                    <i class="fa-solid fa-chevron-down"></i>
                </a>

                <ul class="dropdown-menu">

                    <li><a href="sponsor.html">Become a Sponsor</a></li>
                    <li><a href="volunteer.html">Become a Volunteer</a></li>

                </ul>

            </li>

        </ul>

        <!-- Register Button -->
        <a href="https://2027iloilodinagyangmarathon.veent.net/" target="_blank" rel="noopener noreferrer"
            class="register-btn">

            Register Now

        </a>

        <!-- Mobile -->
        <div class="hamburger">

            <span></span>
            <span></span>
            <span></span>

        </div>

    </nav>

    <div class="mobile-overlay"></div>

</header>